.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #282c34;
    min-height: 100vh;
    overflow: auto;
    color: white;
}

.user-card {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border: 1px solid #61dafb;
    border-radius: 5px;
    background-color: #61dafb;
    color: #282c34;
    .user-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 4px solid #fff;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
        }
    }
}